@model Wedding_Planner.Models.UserViewModel
@{
    ViewData["Title"] = "Wedding Planner";
}

<h1>Register</h1>

<form asp-controller="Home" asp-action="Register" method="POST">
    <label asp-for="FirstName"></label>
    <input asp-for="FirstName"><span asp-validation-for="FirstName"></span><br>
    <label asp-for="LastName"></label>
    <input asp-for="LastName"><span asp-validation-for="LastName"></span><br>
    <label asp-for="Email"></label>
    <input asp-for="Email"><span asp-validation-for="Email"></span><br>
    <label asp-for="Password"></label>
    <input asp-for="Password"><span asp-validation-for="Password"></span><br>
    <label asp-for="PW_Confirm"></label>
    <input asp-for="PW_Confirm"><span asp-validation-for="Password"></span><br>
    <button type="submit">Register</button>
</form>

<h1>Login</h1>
<form asp-controller="Home" asp-action="Login" method="POST">
    <span asp-validation-for="Email"></span>
    <label asp-for="Email"></label>
    <input asp-for="Email"><br>
    <span asp-validation-for="Password"></span>
    <label asp-for="Password"></label>
    <input type="Password" name="Password"><br>
    <button type="submit">Login</button>
</form>